<div class="flex-container">
    <P>Schwierigkeitsgrad:</P>
    <div class="navbar-links">
        <a routerLink="/easy" routerLinkActive="active">Einfach</a>
        <a routerLink="/medium" routerLinkActive="active">Mittel</a>
        <a routerLink="/hard" routerLinkActive="active">Schwer</a>
    </div>
</div>

<!-- <form [formGroup]="form">
    <table>
      <tbody formArrayName="board" class="grid-container">
        <tr *ngFor="let row of rowControls; let i = index" [formGroupName]="i">
          <td *ngFor="let cell of (row.controls); let j = index" class="grid-item">
            <input class="grid-input" [formControl]="getCell(i, j)" />
          </td>
        </tr>
      </tbody>
    </table>
  </form> -->

<form [formGroup]="form">
    <div formArrayName="board" class="grid-container">
        <div *ngFor="let row of rowControls; let i = index">
            <div *ngFor="let cell of row.controls; let j = index" class="grid-item"
            [ngClass]="{
                'border-right-bold': (i + 1) % 3 === 0 && i !== 8,
                'border-bottom-bold': (j + 1) % 3 === 0 && j !== 8
              }">
                <input 
                [readonly]=" this.initialBoard[i][j] !== 0"
                [attr.tabindex]="this.initialBoard[i][j] !== 0 ? -1 : 0" 
                [formControl]="getCell(i, j)" />
            </div>
        </div>
    </div>
</form>