@use "styles/variables" as *;

.navbar {
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid $marine;
}

.navbar-logo {
    a,
    img {
      cursor: pointer;
    }
  
    img {
      height: 40px;
      margin-left: 200px;
      margin-right: 200px;
    }

    img:hover,
    a:hover{
    cursor: pointer;
    }
}

.navbar-links {
    display: flex;
    gap: 20px;
    a {
        position: relative;
        text-decoration: none;
        font-size: 18px;
        color: #2d5874;
        font-weight: 500;
        padding-bottom: 5px;
        gap: 20px;
        cursor: pointer;
    
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 100%;
            background-color: $marine-dark;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease;
        }
    
        &:hover::after {
            transform: scaleX(1);
        }
    }
}