@use "styles/variables" as *;

.navbar {
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid $marine;
}

.navbar-logo {
    a,
    img {
      cursor: pointer;
    }
  
    img {
      height: 40px;
      margin-left: 200px;
      margin-right: 200px;
    }

    img:hover,
    a:hover{
    cursor: pointer;
    }
}

.navbar-links {
    display: flex;
    gap: 20px;
    a {
        position: relative;
        text-decoration: none;
        font-size: 18px;
        color: $marine-dark;
        font-weight: 500;
        padding-bottom: 5px;
        gap: 20px;
        cursor: pointer;
    
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 100%;
            background-color: $marine-dark;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease;
        }
    
        &:hover::after {
            transform: scaleX(1);
        }
    }
}

::ng-deep button.login{
    background-color: transparent !important;
    color: $marine-dark !important;
    width: fit-content !important;
    border: none;
    margin-left: 450px;
    margin-bottom: 0px;

    &:hover{
        background-color: transparent !important;
        color: $marine-dark !important;
        transform: translateY(0px);
        border: none !important;
    }
}

::ng-deep .login .pi {
    font-size: 20px !important;
}

//dark mode
::ng-deep html.darkmode .navbar {
    background-color: var(--p-surface-700);
}

::ng-deep html.darkmode .navbar-links a {
    color: var(--p-text-100) !important;

    &::after {
        background-color: var(--p-surface-200) !important;
    }
}

::ng-deep html.darkmode .login{
    color: $white !important;

    &:hover{
        color: $white !important;
    }
}

