<nav class="navbar">
    <div class="navbar-logo">
        <a *ngIf="isDarkMode === false" routerLink="/"> <img src="assets/images/sudoku_logo_new.png" alt="Sudoku_logo" /></a>
        <a *ngIf="isDarkMode === true" routerLink="/"> <img src="assets/images/sudoku_logo_new_white.png" alt="Sudoku_logo" /></a>
    </div>
    <div class="navbar-links">
        <a routerLink="/" routerLinkActive="active">{{ 'NAVBAR.LEVEL' | translate }}</a>
        <a routerLink="/leaderboard" routerLinkActive="active">{{ 'NAVBAR.LEADERBOARD' | translate }}</a>
        <p-toggleswitch [(ngModel)]="isDarkMode" (ngModelChange)="toggleDarkMode($event)">
            <ng-template #handle let-checked="checked">
                <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-moon' : 'pi-sun']"></i>
            </ng-template>
        </p-toggleswitch>
    </div>
    <p-button *ngIf="!isLoggedIn" styleClass="login" icon="pi pi-sign-in" (click)="navigateToLogin()"></p-button>
    <p-button *ngIf="isLoggedIn" styleClass="login" icon="pi pi-sign-out" (click)="navigateToLogout()"></p-button>
</nav>