@use "styles/variables" as *;

.navbar {
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid $marine;
}

.navbar-logo {
    a,
    img {
      cursor: pointer;
    }
  
    img {
      height: 40px;
      margin-left: 200px;
      margin-right: 200px;
    }

    img:hover,
    a:hover{
    cursor: pointer;
    }
}

.navbar-links {
    display: flex;
    gap: 20px;
    a {
        position: relative;
        text-decoration: none;
        font-size: 18px;
        color: #2d5874;
        font-weight: 500;
        padding-bottom: 5px;
        gap: 20px;
        cursor: pointer;
    
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 100%;
            background-color: $marine-dark;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease;
        }
    
        &:hover::after {
            transform: scaleX(1);
        }
    }
}

::ng-deep .moon {
    background-color: $white !important;
    color: $marine-dark !important;
    border: none !important;
    cursor: pointer !important;
    transform: translateY(0px) !important;
    width: fit-content !important;
    margin-left: 25px !important;
    margin-top: 10px  !important;
}

::ng-deep .moon:hover {
    background-color: $white !important;
    color: $marine-dark !important;
    transform: translateY(0px) !important;;

    // &:hover::after {
    //     transform: scaleX(0) !important;;
    // }
}

//dark mode
::ng-deep html.darkmode .navbar {
    background-color: var(--p-surface-700);
    padding: 20px;
    display: flex;
    color: $white;
    border-bottom: 2px solid $marine-light;
}

::ng-deep html.darkmode .moon {
    background-color: var(--p-surface-700)!important;
    color: white;
    border: none;
    cursor: pointer !important;
    transform: translateY(0px);
    width: fit-content;
    margin-left: 25px !important;
    margin-top: 10px  !important;
}

::ng-deep .moon:hover {
    background-color: $white !important;
    color: $marine-dark !important;
    transform: translateY(0px);

    &:hover::after {
        transform: scaleX(0);
    }
}