<form *ngIf="!emailSent" [formGroup]="form">
    <h2>{{ 'FORGOT_PASSWORD.TITLE' | translate }}</h2>
    <p>{{ 'FORGOT_PASSWORD.TEXT' | translate }}</p>

    <div class="wrapper">
        <div class="text">{{ 'GENERAL.EMAIL' | translate }}</div>
        <input type="email" placeholder="pang@example.com" formControlName="email">
        <p-button 
            class="spacing" 
            (click)="recover()" 
            [disabled]="!form.valid" 
            [loading]="isSubmitted">
            {{ 'FORGOT_PASSWORD.SUBMIT' | translate }}
        </p-button>
    </div>
    <small class="pflichtfeld" *ngIf="form.get('email')?.invalid && form.get('email')?.dirty">
        {{ 'GENERAL.INVALID_EMAIL' | translate }}
    </small>

    <p-button class="back" routerLink="/login">
        {{ 'GENERAL.BACK' | translate }}
    </p-button>
</form>
<p-toast />

<div *ngIf="emailSent" class="container">
    <h2>{{ 'FORGOT_PASSWORD.EMAIL_SENT.TITLE' | translate }}</h2>
    <p>{{ 'FORGOT_PASSWORD.EMAIL_SENT.TEXT' | translate }}</p>
</div>