<div class="middle">
    <h1>{{ 'SETTINGS.TITLE' | translate }}</h1>
        <div class="selection">
            <div class="selection-row">
                <div class="selection-label">{{ 'SETTINGS.CHANGE_THEME' | translate }}</div>
                <div class="selection-control">
                    <p-dropdown 
                    [options]="themeOptions" 
                    [(ngModel)]="selectedTheme"
                    (ngModelChange)="setTheme($event)" 
                    optionLabel="value" 
                    placeholder="Select a Theme" />
                </div>
              </div>
              <div class="selection-row">
                <div class="selection-label">{{ 'SETTINGS.CHANGE_LANGUAGE' | translate }}</div>
                <div class="selection-control">
                    <p-dropdown 
                    [options]="languageOptions()" 
                    [(ngModel)]="selectedLanguage"
                    (ngModelChange)="setLanguage($event.code)" 
                    optionLabel="label" 
                    [placeholder]="'SETTINGS.PLACEHOLDER_LANGUAGE' | translate" />
                </div>
              </div>
        </div>
        <p-button styleClass="label" label="Zurück" (click)="onBackToStart()"></p-button>
</div>
