@use "styles/variables" as *;

.timer-display {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 32px;
    color: $marine-dark !important;
}

::ng-deep .p-button .pi{
    color:  $marine-dark !important;
    font-size: 28px;
}

::ng-deep .clock{
    color: $marine-dark !important;
    background: transparent !important;
    border: none !important;
    font-size: 28px;
    cursor: default;
}

::ng-deep .timer-button{
    color: $marine-dark !important;
    background: transparent !important;
    border: none !important;
    font-size: 28px;
}

//darkmode☺

::ng-deep html.darkmode .timer-display {
    color: var(--text-color) !important;
}

::ng-deep html.darkmode .clock:hover{
    cursor: default;
    color: $light-gray !important;
}

::ng-deep html.darkmode .timer-button{
    background-color: var(--p-surface-700) !important;
    color: $light-gray !important;
}

::ng-deep html.darkmode .pi.pi-pause{
    color: $light-gray !important;
}

::ng-deep html.darkmode .timer-button .pi.pi-play{
    color: $light-gray !important;
}

::ng-deep html.darkmode .pi.pi-stopwatch{
    color: $light-gray !important;
}

::ng-deep html.darkmode .pi.pi-refresh{
    color: $light-gray !important;
}