$marine-light: rgb(62, 147, 199);
$marine-dark: rgba(30, 84, 117, 0.8);
$marine: rgb(54, 148, 185);
$marine-hover: rgba(29, 136, 179, 0.5);
$deep-blue:rgba(11, 37, 62, 0.8);
$correct-text:#155724;
$error-text: #721c24;
$error-light: #a62330;
$light-gray:#eee;
$correct:#d4edda;
$error: #f8d7da;
$white:white;
$light-yellow:rgb(236, 239, 202);

