$marine-light: rgb(62, 147, 199);
$marine-dark: rgba(30, 84, 117, 0.8);
$marine: rgba(78, 170, 207, 0.5);
$deep-blue:rgba(11, 37, 62, 0.8);
$correct-text:#155724;
$error-text: #721c24;
$light-gray:#eee;
$correct:#d4edda;
$error: #f8d7da;
$white:white;

