@use "styles/variables" as *;

form {
    display: flex;
    flex-direction: column;
    background-color: $light-gray;
    justify-self: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 40%;
    height: 30%;
    border: $light-gray 1px solid;
    color: $marine-dark;
}

.row{
    justify-items: space-between;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin-bottom: 15px;
}

.wrapper .text {
    min-width: 150px;
    font-weight: bold;
    font-size: 16px;
}

.wrapper input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid $marine-dark;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.pflichtfeld{
    color: $error-light;
    margin-top: 0px;
    margin-bottom: 10px;
}

::ng-deep .p-button{
    background-color: $marine-dark !important;
    border: none;
}

.error-message{
    display: flex;
    flex-direction: column;
    height: 80vh; 
    justify-content: center; 
    align-items: center;
    color: $marine-dark;
}


::ng-deep .error-message .p-button{
    border: none !important;
}


//dark mode
::ng-deep html.darkmode form{
    background-color: var(--p-surface-500);
    color: $light-gray;
}

::ng-deep html.darkmode .p-button{
    color: var(--text-color);
    border: none;
    background-color: $marine-dark;
}

::ng-deep html.darkmode input {
    background-color: var(--p-surface-600);
    border: $light-gray;
    border: none !important;
}

::ng-deep html.darkmode .container{
    color: $light-gray;
}

::ng-deep html.darkmode .error-message{
    color: $light-gray;
}

::ng-deep html.darkmode .error-message .p-button{
    color: $light-gray;
    border: none;
}

