<!-- Wenn Token vorhanden → zeige Formular -->
<div class="form-wrapper">
    <form *ngIf="token" [formGroup]="form">
        <h2>{{ 'RESET_PASSWORD.TITLE' | translate }}</h2>
        <p>{{ 'RESET_PASSWORD.TEXT' | translate }}</p>
    
        <div class="row">
            <div class="wrapper">
                <div class="text">{{ 'RESET_PASSWORD.NEW_PASSWORD' | translate }}</div>
                <input type="password" formControlName="newPassword">
            </div>
        
            <div class="wrapper">
                <div class="text">{{ 'RESET_PASSWORD.CONFIRM_PASSWORD' | translate }}</div>
                <input type="password" formControlName="confirmPassword">
            </div>
        </div>
    
        <!-- Fehler bei Password mismatch -->
        <small *ngIf="form.errors?.['mismatch'] && form.get('newPassword')?.dirty && form.get('confirmPassword')?.dirty"
            class="pflichtfeld">
            {{ 'RESET_PASSWORD.MISMATCH' | translate }}
        </small>
    
        <!-- Submit Button -->
        <p-button class="spacing" (click)="resetPassword()" [disabled]="!form.valid || isSubmitted" [loading]="isSubmitted">
            {{ 'RESET_PASSWORD.SUBMIT' | translate }}
        </p-button>
    </form>
    <p-toast />
    
    <!-- Wenn Token fehlt / ungültig -->
    <div *ngIf="!token" class="error-message">
        <h3>{{ 'RESET_PASSWORD.INVALID_TOKEN' | translate }}</h3>
        <p-button class="back" routerLink="/login">
            {{ 'GENERAL.BACK' | translate }}
        </p-button>
    </div>
</div>
