@use "styles/variables" as *;

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
    min-height: 80vh;
}

p{
    font-size: 25px;
    color: $marine-dark;
    text-align: center;
}

h1{
    font-size: 35px;
    color: $marine-dark;
    text-align: center;
}

.selection{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

::ng-deep .p-button:hover .disable{
    cursor: not-allowed;
}

::ng-deep .p-button-label {
    font-size: 25px;
  }

::ng-deep .p-button .pi-stopwatch{
    font-size: 20px;
    margin-right: 5px;
    color: $light-gray !important;
}

::ng-deep .label{
    background-color: $marine !important;
    border: none !important;
    width: 270px;
    margin-bottom: 15px;
}

::ng-deep .label:hover {
    background-color: $marine-hover !important;
    transform: translateY(-5px);
    border: none !important;
  }

//darkmode
::ng-deep html.darkmode p{
    color: var(--text-color);
} 

::ng-deep html.darkmode h1{
    color: var(--text-color);
}

::ng-deep html.darkmode .label {
    color: $light-gray !important;
    background-color: $marine !important;
}

::ng-deep html.darkmode .label:hover {
    color: $light-gray !important;
  }
