<form [formGroup]="form">
  <h1>Anmelden</h1>
  <div class="wrapper">
    <div class="text">Email</div>
    <input type="email" placeholder="pang@example.com" formControlName="email">
  </div>

  <div class="wrapper">
    <div class="text">Passwort</div>
    <input type="password" placeholder="01234567" formControlName="password">
  </div>

  <a routerLink="/login">Passwort vergessen?</a>

  <p-button class="spacing" (click)="login()" *ngIf="!isLogginIn" [disabled]="!form.valid">Login</p-button>
  <p-button ngClass="register" routerLink="/register">Registrieren</p-button>
</form>